*{
    margin: 0;
    padding: 0;
}

.App{
    display: flex;
    align-items: center;
    flex-direction: column;
}

body{
    text-align: center;
}

.header{
    background-color: #192a56;
    color: white;
    padding: 20px;
    width: 100%;
}

h1{
    margin: 0;
}

.form{
    margin-top: 20px;
}

.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.data_value{
    display: flex;
    width: 100%;
    padding: 10px 24px 10px 24px;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2)0px 7px 29px 0px;
}
